#include <windows.h>
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "listreport_test2.exe.manifest"
IDC_ICON_1 ICON "flow.ico"
IDC_ICON_2 ICON "introduce.ico"
IDC_ICON_3 ICON "interface.ico"
IDC_ICON_4 ICON "task.ico"
IDC_ICON_5 ICON "data.ico"
IDC_ICON_6 ICON "windows_128.ico"
IDC_ICON_7 ICON "config.ico"
IDC_ICON_8 ICON "report.ico"
IDC_ICON_9 ICON "dashboard.ico"
IDC_ICON_a ICON "au.ico"
IDC_ICON_b ICON "module.ico"
IDC_ICON_c ICON "flag.ico"
IDC_ICON_d ICON "network.ico"
IDC_ICON_e ICON "server.ico"
IDC_ICON_f ICON "more.ico"
